@charset "UTF-8";

.product a {
    display: block;
    color: #232323;
    font-size: 15px;
    
}

.product a:hover{
    color: #0077c0;
    font-weight: bold;
}


.product ul{
    text-align: center;
    padding: 46px 0 41px;

}

.product li{
    display: inline-block;
    font-size: 0px;
    padding: 0 55px;
    text-align: center;
}

.product a::before{
    content: '';
    display: block;
    width: 50px;
    height: 52px;
    margin: 0 0 26px;

}

.product li:nth-child(1) a::before{
    background: url(../images/icon_product_category01.png) no-repeat;
}


.product li:nth-child(2) a::before{
    background: url(../images/icon_product_category02.png) no-repeat;
}

.product li:nth-child(3) a::before{
    background: url(../images/icon_product_category03.png) no-repeat;
}

.product li:nth-child(4) a::before{
    background: url(../images/icon_product_category01.png) no-repeat;
}

.product li:nth-child(5) a::before{
    background: url(../images/icon_product_category02.png) no-repeat;
}

.product li:nth-child(6) a::before{
    background: url(../images/icon_product_category03.png) no-repeat;
}



.product li:nth-child(1) a:hover:before{
    background: url(../images/icon_product_category01_on.png) no-repeat;
}

.product li:nth-child(2) a:hover:before{
    background: url(../images/icon_product_category02_on.png) no-repeat;
}

.product li:nth-child(3) a:hover:before{
    background: url(../images/icon_product_category03_on.png) no-repeat;
}

.product li:nth-child(4) a:hover:before{
    background: url(../images/icon_product_category01_on.png) no-repeat;
}

.product li:nth-child(5) a:hover:before{
    background: url(../images/icon_product_category02_on.png) no-repeat;
}

.product li:nth-child(6) a:hover:before{
    background: url(../images/icon_product_category03_on.png) no-repeat;
}


.product li:hover {
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}