@charset "UTF-8";

.visual .con .slide {
    background: url(/images/bg_main01.jpg) no-repeat center;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
}

.visual .con .slide p {
    font-size: 20px;
    padding: 13px 0 0;
    line-height: 100%;

}
.slide .text{
    position: absolute;
    left: 50%;
    top: 175px;
}
