@charset "utf-8";

/* index */
header.index { padding: 0 30px 30px;}



header { padding: 0 30px 55px; background: linear-gradient(to right, #042e6f, #042e6f 50%, #f2f2f2 50%, #f2f2f2);}
header .visual img { width: 100%; display: block;}
header h1 { position: absolute; left:40px; top: 40px; z-index: 31;}
header > ul { display: flex; position: absolute; right: 30px; top: 0; z-index: 30; width: 70px; background: #f2f2f2;}
header > ul li { flex: 1; padding: 0 0 0 18px; line-height: 70px; }
header > ul li a:before { content: ""; display: inline-block; width:23px; height:23px; background: url(../images/icon.png) no-repeat; vertical-align: middle;}
header > ul li:first-child a:before { background-position: 0 0;}
header > ul li:last-child a:before { background-position:-23px 0;}
header #lnb { position: absolute; left: 30px; top: 20px; z-index: 30; padding: 0 232px; width: 100%; box-sizing: border-box;}
header #lnb nav { position: relative; z-index: 30; border-bottom: 1px solid rgba(255,255,255,.5); text-align: center; font-size: 0;}
header #lnb nav > ul:hover { overflow: visible;}

header #lnb nav + div { position: absolute; left: 10; top: -50; z-index: 29; padding: 0 30px; width: 300px; height:10px;  opacity: 0;}
header #lnb nav:hover + div { height: 10px; opacity: 1;}
header #lnb nav > ul > li { display: inline-block; position: relative;}
header #lnb nav > ul > li > a { display: block; position: relative; width: 160px; height: 69px; font-size: 18px; color:#fff; line-height: 69px;}

header #lnb nav > ul > li > a:hover{
    font-weight: bold;
}

header #lnb nav > ul ul {   
    display: none; 
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 170px;
    background: #01588ea9;
    z-index: 1;}

    header #lnb ul ul a{
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
    }
    
header #lnb nav > ul:hover ul { opacity: 1;}

header #lnb nav > ul ul li { line-height: 30px;}
header #lnb nav > ul ul a { position: relative;font-size: 14px; color:#fff; transition: all 0.5s;}
header #lnb nav > ul ul a:hover { color:#ffffff; }
header #lnb nav > ul ul a:after { content: ""; position: absolute; left:50%; bottom: -7px; width:0; height: 2px; background: #ffffff; transition: all 0.5s;}
header #lnb nav > ul ul a:hover:after  { left: 0; width: 100%;}




.contents { width: 1180px; margin: 0 auto;}
.h2 { position: relative; padding: 55px 0 53px; font-size: 36px; color:#222; line-height: 100%; text-align: center; font-weight: normal;}
.h2:after { content: ""; position: absolute; left: 50%; bottom: 0; width: 50px; height: 1px; background: #aaa; transform: translateX(-50%);}
.h2 + p { padding:46px 0 54px; font-size: 18px; color:#666; text-align: center; line-height: 30px;}
.h3 { margin: 50px 0 20px; font-size:18px; color:#222; font-weight: normal;}
.h3:before { content: ""; display: inline-block; margin: 0 8px 0 0; width: 4px; height: 4px; background: #ffffff; vertical-align:5px;}
.noti { font-size: 14px; color:#888;}
.noti:before { content: ""; display: inline-block; margin: 0 3px 0 0; width: 15px; height: 15px; background: url("../images/icon.png") no-repeat -336px -5px; vertical-align: -3px;}


/* header .spot  */

header .spot {
    position: absolute;
    right: 50px;
    top: 5px;
}

header .spot li{
    position: relative;
    float: left;
}

header .spot li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translate(-50% , -50%);
}

header .spot li:first-child::after{
    display: none;
}


header .spot li a{
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

header .spot li:last-child a{
    padding-right: 0;
}







