@charset "utf-8";
@import url('/css/fonts.css');
@import url('/css/icons.css');
html, body {height:100%; margin:0px; padding:0px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0; padding:0;}
fieldset,img {border:0 none;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:none;}
img,input,select,textarea,button,i {vertical-align:middle;}
hr, input::-ms-clear {display:none;}
hr {border:0px; height:1px; background:#DAE0E9;}
button {border:0 none; background-color:transparent; cursor:pointer;}
body,th,td,input,select,textarea,button {font-size:1rem; letter-spacing:-0.005em; font-family:'Pretendard', sans-serif; color:#222;} /* color값은 디자인가이드에 맞게사용 */
.os_mac body,.os_mac th,.os_mac td,.os_mac input,.os_mac select,.os_mac textarea,.os_mac button {font-family:'Pretendard', sans-serif;}
a {color:inherit; text-decoration:none; outline:none;}
a:active {background-color:transparent;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
table,th,td {border-collapse:collapse; padding:0; border-spacing:0;}
table, video {width:100%; margin:1px 0;}
input[readonly] {background:#eee;}
h1 {font-size:56px; line-height:140%; font-weight:700;}
h2 {font-size:36px; line-height:150%; font-weight:700;}
/*
h3 {font-size:24px; line-height:160%; font-weight:400;}
p {font-size:18px; line-height:180%; font-weight:400;}
 */
/*===========================Input Reset============================*/
.radios {vertical-align:middle; margin:0 5px; line-height: 1.5;}
.radios input[type="radio"] {display:none; vertical-align:middle;}
.radios input[type="radio"] + label {display:inline-block; background:url('/ams/images/icon/radio_off.png') left center no-repeat; cursor:pointer; padding-left:25px;}
.radios input[type="radio"]:checked + label {background:url('/ams/images/icon/radio_on.png') left center no-repeat; font-weight:600; margin:0px;}

.checkboxs {vertical-align:middle; margin:0 5px;}
.checkboxs input[type="checkbox"] {display:none; vertical-align:middle;}
.checkboxs input[type="checkbox"] + label {display:inline-block; background:url('/ams/images/icon/checkbox_off.png') left center no-repeat; cursor:pointer; padding-left:25px; min-height:20px;}
.checkboxs input[type="checkbox"]:checked + label {background:url('/ams/images/icon/checkbox_on.png') left center no-repeat; margin:0px;}

.checkboxs2 {vertical-align:middle; display:flex;  height:32px;}
.checkboxs2 input[type="checkbox"] {display:none; vertical-align:middle;}
.checkboxs2 input[type="checkbox"] + label {display:inline-block; background:url('/images/icon/checkbox_false.svg') left center no-repeat; cursor:pointer; padding-left:34px; height:32px; line-height:32px;}
.checkboxs2 input[type="checkbox"]:checked + label {background:url('/images/icon/checkbox_true.svg') left center no-repeat; margin:0px; height:32px; line-height:32px;}

.space100 {height:100px !important;}
.space80 {height:80px !important;}
.button {height:30px; line-height:30px; text-align:center; border:0px; background:#333; color:#FFF; border-radius:5px; padding:0 10px; cursor:pointer; box-sizing: border-box; min-width:50px; font-size:1em; display:inline-block; vertical-align: middle;}

.btn_gray {border-radius:30px; border:1px solid #788190; color:#788190; padding:10px 20px;}

.submit {padding:16px 30px; border-radius:82px; background:#107AF2; color:#fff; min-width:212px; box-sizing:border-box; font-size:24px; font-weight:700;}

input[type="text"],
input[type="password"],
input[type="number"] {min-width:50px; border-radius:10px; padding:16px 16px 16px 20px; letter-spacing:0px; box-sizing: border-box; -webkit-appearance: none; -webkit-border-radius: 10; height:58px; border:1px solid #DAE0E9;}

textarea {width:100%; padding:16px 16px 16px 20px; letter-spacing:0px; box-sizing: border-box; border:1px solid #DAE0E9; border-radius:10px; min-height:100px; font-size:16px; box-sizing:border-box;}

select {vertical-align:middle; min-width:50px; height:58px; border-radius:10px; padding: 16px 16px 16px 20px; letter-spacing:0px; box-sizing: border-box; appearance: button; -moz-appearance: button; /* Firefox */ -webkit-appearance: button; /* Safari and Chrome */ -webkit-border-radius: 8; border:1px solid #DAE0E9; color:#788190;}
[onclick] {cursor:pointer;}

.filebox {display: flex;}
.filebox input[type="file"] {position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;}
.filebox .upload-name {min-width:50px; border-radius:10px; padding:16px 16px 16px 20px; letter-spacing:0px; box-sizing: border-box; -webkit-appearance: none; -webkit-border-radius: 10; height:58px; border:1px solid #DAE0E9;}
.filebox label {display: flex; font-weight:500; width: 120px; height: 58px; padding: 10px 22px; justify-content: center; align-items: center; flex-shrink: 0; background-color: #F2F4F9; cursor: pointer; margin-left: 16px; border-radius:10px; box-sizing:border-box;}

