@charset "UTF-8";

*{margin: 0; padding: 0; color: #333;}
ul{list-style: none;}
a{text-decoration: none; color: #333;} 


:root {
    /* color */
    --white: #fff;
    --black1: #000;
    --black2: #252830;
    --black3: #474e58;
    --black4: #333;
    --gray1: #667284;
    --gray2: #8794a7;
    --gray3: #a2adbd;
    --gray4: #b9c3d1;
    --gray5: #d6dce3;
    --gray6: #e9edf1;
    --gray7: #f1f5f9;
    --gray8: #f6f8fb;
    --gray9: #cbcfd6;
    --gray10: #f3f5f6;
    --gray11: #737e8f;
    --gray12: #d3d6dc;
    --gray13: #999;
    --blue1: #34429c;
    --blue2: #4b79ee;
    --blue3: #7bbaf5;
    --blue4: #e9f4ff;
    --blue5: #106698;
    --blue6: #2282b9;
    --blue7: #44a9e2;
    --blue8: #ebf8ff;
    --blue9: #5e72eb;
    --blue10: #778afd;
    --blue11: #9eacff;
    --blue12: #e9ecff;
    --blue13: #4795CD;
    --blue14: #5779BC;
    --blue15: #f1f3fe;
    --green1: #1e9ab5;
    --green2: #1eb590;
    --green3: #67d9a9;
    --green4: #ebfff6;
    --green5: #6AC65B;
    --green6: #59a794;
    --green7: #30aeca;
    --purple1: #8146a5;
    --purple2: #a265c8;
    --purple3: #c485eb;
    --purple4: #f8f1fc;
    --purple5: #5E50B4;
    --purple6: #f9f4fc;
    --red1: #ef404a;
    --org1: #ff6644;
    --org2: #f98070;
    --org3: #ff6c6c;
    --pink1: #e86ac4;
    --primary1: #09003e;
    --primary2: #2282b9;
    --primary3: #ff9c00;

    /* size */
    --w100: 100%;
    --w18: 18%;
    --w20: 20%;
    --w34: 34%;
    --conwidth: 60rem;
    
    /* align */
    --margin--auto: 0 auto;

    /* space */
    --btnarea--margin--top1: 2rem;
    --btnarea--margin--top2: 3rem;

    /* etc */
    --transition:all ease .4s;
    --boxshadow1: 2px 3px 6px rgba(0,0,0,.15);
    --boxshadow2: 0 3px 6px rgba(0,0,0,.1);
    --boxshadow3: 0px 15px 18px -11px rgba(0,0,0,0.16);
    --dropshadow1: drop-shadow(0 6px 8px rgba(0,0,0,.3));
    --textshadow1: 0 1px 8px rgba(0,0,0,.3);
    --y50: translateY(-50%);
    --x50: translateX(-50%);
    --xy50: translate(-50%, -50%);

    /* paging */
    --paging--size: 2rem;
}



    /* header{
        height: 100px;
        outline: 1px solid #000;

        

    }

    .home-logo{
        float: left;
        height: 100px;
        padding: 1.5rem 0;
        
    }

    nav{
        float: right;
        margin-top: 25px;

        
    }

    nav>ul>li{
        float: left;
        position: relative;
        z-index: 10;


    }

    nav>ul>li>a{
        display: block;
        height: 50px;
        width: 150px;
        background: orange;
        line-height: 50px;
        text-align: center;


    }



    nav ul ul{
    display: none;
    position: absolute;
    top: 5.05rem;
    left: 0.4rem;
    z-index: 50;
    width: 100%;
    padding-top: 2rem;
    } */










/* Layout - 공통 */
.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
.inner-layout {
    max-width: var(--conwidth);
    margin: var(--margin--auto);
}
.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--conwidth);
    margin: var(--margin--auto);
}
.flex-fs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: var(--conwidth);
    margin: var(--margin--auto);
}
.flex-sb.al-fs {
    align-items:flex-start;
}
.header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: var(--transition);
}
.header .flex-sb {
    height: 100%;
}
.top-wrap {
    position: relative;
    border-bottom: 1px solid var(--gray5);
    background-color: var(--white);
}
.top-wrap .flex-fs {
    gap: 1.2rem;
    transition: var(--transition);
}
.top-wrap .home-logo {
    padding: 1.7rem 0;
}
.gnb-wrap {
    flex: 1;
}
.header.fixed .top-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.gnb-wrap .flex-sb {
    height: 100%;
    transition: var(--transition);
}
.gnb-wrap .gnb-menu {
    display: flex;
    align-items: center;
}
.gnb-wrap .gnb-menu > li {
    position: relative;
    flex: 1;
    max-width: 8.35rem;
}
.gnb-wrap .gnb-menu > li + li {
    transition: var(--transition);
}
.header .depth1 {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--black2);
    line-height: 1;
    transition: var(--transition);
    white-space: nowrap;
}
